:root {
  --input-pressable-color: rgb(65, 65, 110);
  --input-pressable-hover-color: rgb(70, 70, 120);
  --input-field-color: rgb(40, 40, 80);
  --input-border-color: rgb(180, 180, 222);
  --panel-color:rgb(45, 45, 90);
  --background-color: rgb(20, 20, 45);
  --text-color: rgb(230,230,255);
  --default-border: 2px solid var(--input-border-color);
  
  --card-height: 420px;
  --card-width: 300px;

  --card-thumbnail-height: 100px;
  --card-thumbnail-width: 300px;

  --card-height-small:50px;
  --card-width-small:240px;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}
button{
  background-color: var(--input-pressable-color);
  font-family: monospace;
}
button:hover{
  background-color: var(--input-pressable-hover-color);
}
input, button, select{
  border: var(--default-border);
  border-radius: 2px;
}
input,
input[type=checkbox],
select{
  background-color: var(--input-field-color);
}


.debugInputContainer{
  width: min-content;
  margin: auto;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 1rem;
  column-gap: .5rem;
}
