.main {
  height: 80vh; 
  display: grid;
  grid-auto-columns: max-content max-content;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;

}
.menuLink{
  background-color: var(--panel-color);
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.cardlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.debug{
  background-color: black;
  color: white;
  width:fit-content
}
.debug li span{
  margin: 1em;
}
