.background{
    z-index: 9999;
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.74);
    display: grid;
    place-items: center;
}
.container{
    z-index: 99999;
    background-color: var(--panel-color);
    height: 500px;
    width: 500px;
}